body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h2 {
    color: #006699;
}

form label {
    display: inline-block;
    width: 100px;
    margin-top: 10px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"], input[type="time"] {
    width: 200px;
}

input[type="submit"] {
    margin-top: 15px;
    background-color: #006699;
    color: white;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
}
